div{
    text-align: center;
    margin-top: 50px;
    background-color: black;
    padding: 20px;
}
button{
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
p{
    color: white;
    padding: 10px;
    font-size: 20px;
    margin: 10px auto ;

}
.bg_white{
    background-color: white;
    color: dodgerblue;
    font-weight: bold;
    width: 40%;
}